@import '../../../assets/styles/colors';

.outerBox {
    width: 100%;
    height: auto;
    margin: 150px 0 150px;
    background: $normalText;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .triangleVector:nth-of-type(1) {
        position: absolute;
        width: 100%;
        bottom: calc(100% - 2px);
    }

    .triangleVector:nth-of-type(2) {
        position: absolute;
        width: 100%;
        top: calc(100% - 2px);
        transform: rotateX(-180deg) rotateY(-180deg);
    }
}

.innerBox {
    width: 80%;
    margin: 50px 0;
    padding: 25px;
    border: 1px #fff solid;

    p {
        font-size: 4rem;
        color: #fff;

        span {
            display: inline;
            font-size: 2rem;
            height: auto;
        }
    }
}