// Contact form introduction paragraph
.p {
    font-size: 1.6rem;
    margin: 0 25px 80px;
    text-align: center;
}

// Contact form div container
.contactFormBox {
    width: 80%;
    margin: 0 auto 80px;
}