@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

.contactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputBox {
    display: block;
    width: 100%;
    margin: 0 0 20px;
}

.label {
    display: block;
    width: 100%;
    font-size: 1.3rem;
    margin: 0 0 5px;
    color: $normalText;

    &.labelError {
        color: $errorColor;
        font-weight: 700;
    }
}

p.error {
    display: block;
    width: 100%;
    font-size: 1rem;
    color: $errorColor;
    font-weight: 700;
    margin: 0 0 3px 0;
}

.inputElement {
    display: block;
    width: 100%;
    font-size: 1.7rem;
    font-family: $bodyFont;
    color: $addon;
    outline: none;
    background: none;
    border: none;

    &::placeholder {
        color: #fff;
    }

}

.white::placeholder {
    color: rgb(201, 199, 199);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  border: none;
  background: unset;
  -webkit-text-fill-color: $addon;
  -webkit-box-shadow: 0 0 0 100px #E3E3E3 inset !important;
  box-shadow: 0 0 0 100px #E3E3E3 inset !important;
}

input.white:-webkit-autofill,
input.white:-webkit-autofill:hover, 
input.white:-webkit-autofill:focus,
input.white:-webkit-autofill:active {
  border: none;
  background: unset;
  -webkit-text-fill-color: $addon;
  -webkit-box-shadow: 0 0 0 100px #fff inset !important;
  box-shadow: 0 0 0 100px #fff inset !important;
}

.textAreaElement {
    display: block;
    width: 100%;
    height: 300px;
    font-size: 1.7rem;
    color: $addon;
    outline: none;
    background: none;
    border: none;

    &::placeholder {
        color: #fff;
    }

    &.white::placeholder {
        color: rgb(201, 199, 199);
    }
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover, 
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  border: none;
  background: unset;
  -webkit-text-fill-color: $addon;
  -webkit-box-shadow: 0 0 0 1000px #E3E3E3 inset !important;
  box-shadow: 0 0 0 1000px #E3E3E3 inset !important;
}

textarea.white:-webkit-autofill,
textarea.white:-webkit-autofill:hover, 
textarea.white:-webkit-autofill:focus,
textarea.white:-webkit-autofill:active {
  border: none;
  background: unset;
  -webkit-text-fill-color: $addon;
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  box-shadow: 0 0 0 1000px #fff inset !important;
}

.sendBtn {
    font-size: 1.7rem;
    color: #fff;
    font-family: $bodyFont;
    padding: 14px 25px;
    background: $addon;
    border-radius: 30px;
}