@import '../../../assets//styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets/styles/media-queires';

// Class of link to contact page
.btn {
    position: relative;
    color: #fff;
    z-index: 10;

    &:visited {
        color: #fff;
    }

    button {
        display: inline-block;
        background: $addon;
        font-size: 1.7rem;
        color: #fff;
        border: none;
        padding: 5px 60px 5px 15px;
        border-radius: 30px;
        font-family: $bodyFont;
    }
}

.icon {
    font-size: 3.2rem;
    position: absolute;
    transform: translate(15px, -8px);
}

@media screen and (min-width: $desktopScreenSize) {

    // Class of link to contact page
    .btn {
        margin: 0 0 0 50px;

        button {
            padding: 10px 60px 10px 15px;
        }
    }

    .icon {
        font-size: 3.5rem;
        transform: translate(13px, -10px);
    }
}