@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';
@import '../../../assets//styles/media-queires';

// Div container
.titleBox {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 20px 100px 20px;
}

// Heading
.title {
    position: relative;
    display: inline-block;
    font-size: $mainTitleFontSize;
    font-family: $titleFont;
    margin: 0;
    color: $normalText;

    // Class if title is long
    &.longTitle {
        font-size: 2.4rem;
    }
}

// Background color rectangle
.titleBg {
    position: absolute;
    background: $mainTitleBg;
    transform: translate(20px, 40px);

    &.orange {
        background: $transparentAddon;
    }
}

@media screen and (min-width: $desktopScreenSize) {

    // Div container
    .titleBox {
        width: auto;
        height: auto;
        margin: 0 20px 100px 50px;
    }

    // Heading
    .title {
        font-size: $mainTitleDesktopFontSize;
        font-family: $titleFont;
        margin: 0;
        color: $normalText;

        // Class if title is long
        &.longTitle {
            font-size: 3.8rem;
        }
    }
}