@import '../../assets/styles/colors';
@import '../../assets/styles/fonts';

.serviceIntro {
    font-size: $paragraphLvlText;
    margin: 1em 25px 1em;
    color: $normalText;
}

.objetiveTitle {
    font-size: $secondTitle;
    margin: 1em 25px 1em;
    color: $normalText;
}