@import '../../../assets/styles/colors';
@import '../../../assets/styles/fonts';

.btn {
    display: inline-block;
    background: $mainText;
    position: relative;
    font-size: 1.5rem;
    color: #fff;
    font-family: $bodyFont;
    padding: 15px 50px 15px 25px;
    border-radius: 30px;
    border: none;
    box-shadow: none;
    outline: none;
    align-self: flex-end;
    overflow: hidden;
    margin: 40px 35px 0 0;
}

.icon {
    position: absolute;
    font-size: 3.3rem;
    transform: translate(6px, -2px);
}