@import '../../assets/styles/colors';
@import '../../assets/styles/fonts';
@import '../../assets//styles/media-queires';

.header {
    position: fixed;
    height: 100px;
    width: 100%;
    background: #fff;
    font-family: $titleFont;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;

}

.logo {
    margin: 0 0 0 40px;
    
    p {
        display: inline-block;
        margin: 0;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: $normalText;
    }
}

.navLinks {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    margin: 0 25px 0 0;
    padding: 0;
}

.navLinks li:nth-of-type(1) {
    margin: 0 25px 0 0;
    font-size: 1.5rem;
    color: $normalText;
    display: flex;
    align-items: center;

    p {
        margin: 0;
    }
}

.navLinksDesktop {
    display: none;
}

@media screen and (min-width: $desktopScreenSize) {

    .header {
        padding: 0 50px;
    }

    .navLinks {
        display: none;
    }

    .navLinksDesktop {
        height: 100%;
        margin: 0;
        padding: 0;
        color: $normalText;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-grow: 1;
        justify-content: space-between;
    }

    .navLinksDesktopInner {
        list-style: none;
        display: flex;
        height: 50%;

        li {
            margin: 0 30px 0 0;
            height: 100%;
            display: flex;
            align-items: center;

            a {
                display: block;
                color: $normalText;
                height: 100%;
                display: flex;
                align-items: center;

                &:visited {
                    color: $normalText;
                }

            }
        }

        .socialIconsDesktop {
            font-size: 1.4rem;
        }
    }
}