@import '../../../assets/styles/colors';
@import '../../../assets/styles/media-queires';

// Section tag 
.section {
    background: $secondLvlBg;
    padding: 150px 30px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-size: 2.5rem;
        margin: 0 0 0.83em;
        text-align: center;
        color: $normalText;
    }

    p {
        font-size: 1.5rem;
        margin: 0 0 1em;
        text-align: left;
        color: $normalText;
    }
}

/* Desktop view media query */

@media screen and (min-width: $desktopScreenSize) {

    // Section tag 
    .section {

        p {
            width: 80%;
            margin: 0 auto 1em;
        }
    }
}