@import '../../../assets/styles/colors';

.infoPieceBox {
    margin: 30px 0 70px 0;
    display: flex;
    flex-direction: column;

    p {
        font-size: 1.4rem;
        margin: 0 25px 1em;
        color: $normalText;
    }
}