@import '../../../assets/styles/colors';

.arrow {
    position: absolute;
    font-size: 2rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -20px);
}

.blue {
    color: $mainTitleBg;
}

.orange {
    color: $transparentAddon;
}