$transparentOrange: rgba(255, 192, 138, .41);
$transparentBlue: rgba(138, 191, 255, .41);
$gray: #E3E3E3;
$red: #C10000;
$orange: #FF5D24;
$darkBlue: #054A91;
$veryDarkBlue: #031D44;

$normalText: $veryDarkBlue;
$mainText: $darkBlue;
$addon: $orange;
$errorColor: $red;
$secondLvlBg: $gray;
$mainTitleBg: $transparentBlue;