$transparentorange: rbga(#FFC08A, .41);
$transparentblue: rbga(#8ABFFF, .41);
$gray: #E3E3E3;
$red: #C10000;
$orange: #FF5D24;
$moderateblue: #3E92CC;
$darkblue: #054A91;
$verydarkblue: #031D44;

$normal-text: $verydarkblue;
$landing-text: $darkblue;

$addon: $orange;