// Font families

$titleFont: 'Poppins', sans-serif;
$bodyFont: 'Lato', sans-serif;

// Font sizes mobile

$mainTitle: 3.5rem;
$secondTitle: 2.4rem;
$thirdTitle: 2rem;
$paragraphLvlText: 1.4rem;

// Font sizes desktop

$mainTitleDesktopFontSize: 6rem;