// Font families

$titleFont: 'Poppins', sans-serif;
$bodyFont: 'Lato', sans-serif;

// Font sizes mobile

$mainTitleFontSize: 3.5rem;
$secondTitleFontSize: 2.4rem;
$thirdTitleFontSize: 2rem;
$paragraphLvlTextFontSize: 1.4rem;

// Font sizes desktop

$mainTitleDesktopFontSize: 6rem;
$secondTitleDesktopFontSize: 1.8rem;